@font-face {
  font-family: 'Roboto Slab', serif;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Roboto Slab', serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #ca8f02;
}
.form-input {
  margin-top: 1rem;
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.5rem;
}
.form label {
  position: absolute;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.2rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.form-btn {
  margin-top: 1.1rem;
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
section {
  padding: 10rem 0;
}
.section-header {
  text-align: center;
  margin: 2rem 0 10rem;
}
.section-header_light {
  color: #ffffff;
}
.section-header h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4em;
}
.main {
  padding: 3rem 0 8rem;
  background: #ffffff url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #46b814;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
  font-family: 'Roboto Slab', serif;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  color: #1a1820;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 26rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  background-size: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.prev {
  left: 0;
  background: url(../img/back.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 70%;
}
.price {
  background: url(../img/prices/0r7qN8U.jpg);
}
.price-header-btn {
  margin-top: 2.5rem;
}
.price-button {
  margin: -15rem;
  margin-top: -5rem;
  text-align: right;
}
.price-block {
  padding: 1rem 3rem 4rem;
  min-height: 50rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'Roboto Slab', serif;
}
.price-block img {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  font-size: 1.9rem ;
  font-family: 'Roboto Slab', serif;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background: url(../img/icons8-checkmark.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
}
.popup-form {
  margin-top: 1rem;
  padding: 2rem;
}
.popup-close {
  position: absolute;
  top: -1rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  text-align: center;
}
.feedback {
  position: relative;
  background: #d6d6d6;
}
.feedback-text {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #46b814;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #46b814;
  border-bottom: none ;
  border-top-right-radius: 100px;
}
.feedback .media {
  margin-top: 4rem;
}
.feedback h4 {
  font-family: 'Roboto Slab', serif;
}
.feedback-slider {
  background: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  padding: 5rem 6rem;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 10rem;
  background-color: #ffffff;
  text-align: center;
}
.feedback-form h3 {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-family: 'Roboto Slab', serif;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 1px);
          transform: translate(-50%, 1px);
}
.feedback-btn {
  max-width: 30rem;
  margin: 2rem auto;
}
.hand {
  max-width: 30rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.scheme {
  background: url(../img/scheme/569e0149093671525935054e.png) bottom right -10rem no-repeat;
  background-size: 55rem;
}
.scheme-block {
  min-height: 30rem;
}
.scheme h3 {
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
}
.all-inclusive {
  background: #d6d6d6;
}
.all-inclusive .media {
  min-height: 8rem;
  font-size: 1.3rem;
}
.all-inclusive .media h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
}
.circle {
  display: inline-block;
  background-color: #46b814;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #46b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
}
.problems {
  position: relative;
}
.problems-guy {
  position: absolute;
  width: 30rem;
  bottom: 0rem;
  left: 50%;
  margin-left: -16rem;
  margin-bottom: 9rem;
}
.problems-list {
  margin-bottom: 2rem;
  border: 4px solid;
  padding: 2rem;
  min-height: 28rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-family: 'Roboto Slab', serif;
}
.problems-list ul {
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
}
.problems-list ul li {
  padding-left: 3.5em;
  position: relative;
  margin-bottom: 3rem;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li::before {
  margin-left: 2.5rem;
  font-size: 2.2rem;
  content: 'X';
  color: red;
}
.problems-list_good {
  border-color: #46b814;
}
.problems-list_good ul li::before {
  background: url(../img/icons8-checkmark.svg) no-repeat;
  background-size: 80%;
  margin-left: 2rem;
}
.materials-slider {
  padding-top: 5rem;
}
.materials img {
  display: block;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .feedback .problems-list {
    min-height: 40rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-bottom: 2rem;
  }
  .feedback-header_light {
    margin-bottom: 0;
  }
  .feedback-form label {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hand {
    display: none;
  }
  .problems {
    min-height: auto;
  }
  .problems-guy {
    display: none;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .main h1 {
    font-size: 2rem;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .features-block p {
    width: 60%;
  }
  .features .scheme {
    background: none;
    text-align: center;
  }
  .features .scheme-block {
    min-height: 20rem;
  }
  .problems-guy {
    display: none;
  }
}
